@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #272727;	
}

header {
	grid-area: header;
}

section {
	grid-area: content;
}

.aesoppic {
	grid-area: apic;
}

.labruketpic {
	grid-area: lpic;
}

footer {
	grid-area: footer;
}

.main_container {
	display: grid;
	grid-template-rows: 100px 400px 200px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"header"
	"content"
	"footer";
}

.pics {
	display: grid;
	grid-template-columns: 1fr;
	grid-row: 200px 200px;
	grid-template-areas: 
	"apic" 
	"lpic"; 
}

header{ 
	background-color: #272727;
	color:#d9d9d9;
	text-align: center;
	padding:25px;
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	letter-spacing: 5px;
	display: flex;
	justify-content: space-between;
	align-items:center;

}

header > a{
	text-decoration: none;
	color:#d9d9d9;
}

.cart{
	background-color: #272727;
	position: absolute;
	left:0;
	top:-100vh;
	width: 100vw;
	height:350px;
	z-index: 15;
	transition: top 0.9s;
	padding:120px 30px 60px 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.cart div {
	font-size: 15px;
	text-align: left;
}

.cart div:last-child {margin-left: 67%;}

.line1 {width:100%;}

.line2 {width:100%;}


#shoppingc{
	z-index: 100;
	cursor: pointer;
}



/*MENU*/ 

nav ul{
	list-style-type: none;
	margin:100px;
}

nav ul li{
	margin: 20px;
}
nav ul a{
	color:#d9d9d9;
	text-decoration: none;
}

nav ul a:hover{
	color:#4A4B4B;
}


/*MENU*/ 
.nav-toggle{
	position: relative;
	right: 0;
	width: 40px;
	height:26px;
	z-index:14;
	cursor: pointer;
	display: block;
}

.nav-toggle span{
	position: relative;
	height:2px;
	width: 30px;
	background-color:#d9d9d9;
	display: block;
}

.menu{

	position: absolute;
	top:0;
	margin-top: 100px;
	right:-100vw;
	width:100vw;
	height:100vh;
	background-color: #272727;
	z-index: 10;
	font-size: 20px;
	transition: right 0.8s;
}


.nav-toggle span:nth-child(1) {transition: transform 0.8s;}
.nav-toggle span:nth-child(2){transition: transform 0.8s; top:10px;}

input[type="checkbox"] {display: none;}

input[id="toggle"]:checked ~  .menu{right: 0;}

input[id="cartbutton"]:checked ~ .cart{top: 0;}




input[id="toggle"]:checked ~ .nav-toggle span:nth-child(1){
	transform:rotate(45deg);
	background-color: rgba(255,255,255,1);
}

input[id="toggle"]:checked ~ .nav-toggle span:nth-child(2){
	transform:rotate(-45deg);
	top:-3px;
	background-color: white;
}



section img {
	height: 360px;
}

footer {
	position: fixed;
	bottom: 40px;
	width: 50%;
}


footer h5 {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 17px;
}

footer h5:before {
	content: "";
	display: block;
	width: 35%;
	height: 1.2px;
	background-color: #d9d9d9;
	position: absolute;
	left: 0;
	top: 50%;
}

footer h5:after {
	content: "";
	display: block;
	width: 35%;
	height: 1.2px;
	background-color: #d9d9d9;
	position: absolute;
	right: 0;
	top: 50%;
}

footer {
	background-color: rgba(39, 39, 39, 1);
	border: none;
}

footer p {
	padding: 20px 0 0 10px;
	font-size: 18px;
}

footer a {
	text-decoration: none;
	color: #d9d9d9;
	transition: 0.2s;
}

footer a:hover {
	color: #FFF;
}

.icons img {
	height: 20px;
	padding-left: 5px;
}

.icons img:hover {
	opacity: 0.6;
	transition: 0.2s;
}

.icons {
    position: absolute;
	right: 10px;
	height: auto;	
}

@media screen and (min-width: 768px) {

	.pics {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 200px;
		grid-template-areas: 
		"apic lpic"; 
	}

	section img {
		height: 380px;
	}

	.main_container {
		display: grid;
		grid-template-rows: 100px 200px 200px;
}