*{
	margin:0;
	padding:0;
 }

 /* GRID AREA */

header {
	grid-area: header;
}

.smallercontainer {
	grid-area: smallcontainer;
	border:1px solid black;
}

.image {
	grid-area: image;
	border:1px solid black;
}

.text {
	grid-area: text;
	border:1px solid black;
}

footer {
	grid-area: footer;
	border:1px solid black;
}

/* GRID AREA ENDS */

header{ 
	background-color: #272727;
	color:white;
	text-align: center;
	font-size: 25px;
}

h1 {
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
}

h2 {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}

.text h3 {
	font-size: 17px;
	margin: 8px 0 5px 0;
}

.text p {
	width: 100%;
	text-align: justify;
}

.text p:first-child{
    margin-top: 10px;
}

.text {
	padding: 0 40px 0 10px;
}

select {
	background-color: #272727;
	color: #FFF;
	border: none;
	padding: 7px 12px;
	margin-top: 15px;
	margin-left: 10px;
}

button{
	background-color: #272727;
	color: #FFF;
	border: none;
	padding: 20px 40px;
	float: right;

}


.image img {
	height: 250px;
	margin-left: calc(50% - 250px / 2);
}

.pp_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 600px 200px;
	grid-template-areas: 
		"header"
		"smallcontainer"
		"footer";
}

.smallercontainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px 300px;
	grid-template-areas: 
		"image"
		"text";

}

/* IPAD BEHÖVER FÖRMODLIGEN ÄNDRAS */

@media screen and (min-width: 768px){
    .smallercontainer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 400px 200px;
		grid-template-areas: 
			"image"
			"text";

    }
}

/* DESKTOP*/

@media screen and (min-width: 960px){
  .smallercontainer {
	display: grid;
	width: 80%;
	margin: 0 auto;
	grid-template-columns:  1fr 1fr;
	grid-template-rows: 600px;
	grid-template-areas: 
		"image text";

}
}