*{
	margin:0;
	padding:0;
 }

 /* GRID AREA */

header {
	grid-area: header;
}

.top {
	grid-area: top;
}

.img {
	grid-area: img;
}

.container2 {
	grid-area: container2;
}

.name {
	grid-area: name;
}

.quantity {
	grid-area: quantity;
}

.signin {
	grid-area: signin;
}

.shipping {
	grid-area: shipping;
}

.submit {
	grid-area: submit;
}

footer {
	grid-area: footer;
}

.checkout_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 70px 250px 100px 130px 240px 200px;
	grid-template-areas: 
		"header header"
		"top top"
		"img container2"
		"signin signin"
		"submit ."
		"shipping shipping"
		"footer footer";
}

.container2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 125px 125px;
	grid-template-areas: 
		"name"
		"quantity";
}

/* GRID AREA ENDS */

header{ 
	background-color: #272727;
	color:white;
	text-align: center;
	font-size: 25px;
}

h1 {
	font-size: 25px;
	text-align: center;
	padding: 20px;
}

.checkout_container img {
	height: 200px;
	padding-top: 15px;
}

.name {
	padding-top: 30px;
}

.name h2 {
    font-size: 14px;
    padding-top: 5px;
    padding-right: 60px;
}

.name h2:first-child {
	text-decoration: underline;
	padding-bottom: 5px;
}

.quantity {
	padding-top: 13px;
}

.quantity p {
	margin-top: 10px;
	font-size: 12px;
	word-spacing: 42px;
}

select {
	width: 65%;
	background-color: #272727;
	color: #FFF;
	padding: 8px;
}

select:focus input:focus {
	outline: none;
}

.signin {
    padding-left: 15%;
}

.signin h2{
    font-size: 13px;
}

.signin input {
    background-color: #272727;
    height: 30px;
    width: 250px;
    border: none;
    margin-top: 10px;
    color: #FFF;
}

label {
	font-size: 10px;
}

.submit {
	margin-left: 27%;
}

.submit input {
	background-color: #272727;
    height: 40px;
    width: 150px;
    border: none;
    margin-top: 10px;
    color: #FFF;
    font-size: 11px;
}

.shipping {
	padding: 0 12%;
	font-size: 12px;
}

.shipping h3 {
	margin-bottom: 10px;
}

footer h5 {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 17px;
}

footer h5:before {
	content: "";
	display: block;
	width: 35%;
	height: 1.2px;
	background-color: #d9d9d9;
	position: absolute;
	left: 0;
	top: 50%;
}

footer h5:after {
	content: "";
	display: block;
	width: 35%;
	height: 1.2px;
	background-color: #d9d9d9;
	position: absolute;
	right: 0;
	top: 50%;
}

footer {
	background-color: rgba(39, 39, 39, 1);
	border: none;
}

footer p {
	padding: 20px 0 0 10px;
	font-size: 18px;
}

footer a {
	text-decoration: none;
	color: #d9d9d9;
	transition: 0.2s;
}

footer a:hover {
	color: #FFF;
}

.icons img {
	height: 30px;
	padding-left: 5px;
}

.icons img:hover {
	opacity: 0.6;
	transition: 0.2s;
}

.icons {
    position: absolute;
	right: 10px;	
}

/* IPAD */

@media screen and (min-width: 768px){
    
    .checkout_container {
		grid-template-rows: 100px 70px 250px 100px 150px 200px;
		grid-template-areas: 
			"header header"
			"top top"
			"img container2"
			"signin shipping"
			"submit submit"
			"footer footer";
    }

    img.img{
    	margin-left: 30%;
    }

    .name h2 {
    	font-size: 17px;
    }

    .quantity p {
    	word-spacing: 190px;
    }

    .shipping {
    	padding-left: 0;
    	padding-right: 20%;
    }

    .signin {
    	padding-left: 20%;
    }

    .signin h2 {
    	font-size: 15px;
    }

    .submit {
    	margin-left: 10%;
    }

    footer h5:before {
	    width: 45%;
    }
 
    footer h5:after {
	    width: 45%;
    }
}

/* DESKTOP*/

@media screen and (min-width: 960px){

	.checkout_container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100px 100px 120px 200px 250px 200px;
		grid-template-areas: 
			"header header header"
			"top top top"
			"img container2 signin"
			"img container2 submit"
			"shipping shipping ."
			"footer footer footer";
    }

    .checkout_container img {
	    height: 250px;
	    padding-top: 0;
    }

    .name {
    	padding-top: 0;
    }

    select {
    	width: 150px;
    	margin-top: 30px;
    }

    .quantity p {
    	word-spacing: 90px;
    }

    .signin {
    	padding-left: 0;
    }

    .submit {
    	margin-left: 0;
    	margin-top: 30px;
    }

    .submit input {
    	height: 50px;
    	width: 250px;
    }

    .shipping {
    	padding: 30px 20% 30px 22%;
    	font-size: 15px;
    }

    button:hover {
   	    opacity: 0.6;
   	    transition: 0.2s;
    }

    footer h5:before {
	    width: 47%;
    }
 
    footer h5:after {
	    width: 47%;
    }


