* {
	margin: 0;
	padding: 0;
}

body {
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}

/*GRID AREA*/
.product_container {
	display: grid;
	width: 100%;*/
	/*height: 100vh; /*tidigare auto*/
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 7% 4% auto auto auto auto auto auto 10%;
	grid-template-areas: 
		"header header"
		"searchbar searchbar"
		"byredo1 byredo2"
		"byredo3 byredo4"
		"labruket1 labruket2"
		"labruket3 labruket4"
		"aesop1 aesop2"
		"aesop3 aesop4"
		"footer footer";
}

header {
	grid-area: header;
	background-color: #3C3836;
	text-align: center;
}

.wrap {
	grid-area: searchbar;
}

aside {
	grid-area: sidemenu;
	display: none;
}

.byredo1 {
	grid-area: byredo1;
}

.byredo2 {
	grid-area: byredo2;
}

.byredo3 {
	grid-area: byredo3;
}

.byredo4 {
	grid-area: byredo4;
}

[class*="byredo"],
[class*="labruket"], 
[class*="aesop"] {
	margin: auto 10px;
}

.labruket1 {
	grid-area: labruket1;
}

.labruket2 {
	grid-area: labruket2;
}

.labruket3 {
	grid-area: labruket3;
}

.labruket4 {
	grid-area: labruket4;
}

.aesop1 {
	grid-area: aesop1;
}

.aesop2 {
	grid-area: aesop2;
}

.aesop3 {
	grid-area: aesop3;
}

.aesop4 {
	grid-area: aesop4;
}

footer {
	grid-area: footer;
	background-color: #3C3836;
	text-align: center;
	margin-top: 40px;
}

/*FLEX BOX AREA*/
/*SEARCHBAR*/
.searchbar {
	display: flex;
  	width: 100%;
  	margin: 0 auto;
  	max-width: 500px;
}

.search {
  	width: 100%;
  	border: 3px solid #ccc;
  	border-right: none;
  	padding: 5px;
  	height: 20px;
  	border-radius: 5px 0 0 5px;
  	outline: none;
  	color: #ccc;
}

.search:focus {
  	color: #929298;
}

.search_button {
  	width: 40px;
  	height: 36px;
  	border: 1px solid #00B4CC;
  	background-color: #555456;
  	text-align: center;
  	color: #fff;
  	border-radius: 0 5px 5px 0;
  	cursor: pointer;
  	font-size: 20px;
}

.search_button:hover {
  	background: #1D1D1D;
}

.wrap {
	background-color: #FBF8FE;
	padding: 5px 0;
  	width: 100%;
  	height: 38px;
	margin: 0 auto;
}

/*PRODUCT MENU*/

/*PRODUCT GALLERY*/
img.product_img {
	width: 100%;
	height: auto;
	transform: scale(0.7);
	transition: transform .1s;
}

img.product_img:hover {
	transform: scale(0.9);
}

.product_text {
	text-align: left;
	padding-left: 30px;
	padding-right: 10px;
}

.text1, .text3 {
	font-weight: bold;
}

.text1, .text2, .text3 {
	padding: 3px;
}

/*TABLET*/
@media screen and (min-width: 768px) {
	
	.product_container {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 7% 4% auto auto auto 10%;
		grid-template-areas: 
			"header header header header header"
			"searchbar searchbar searchbar searchbar searchbar"
			"sidemenu byredo1 byredo2 byredo3 byredo4"
			"sidemenu labruket1 labruket2 labruket3 labruket4"
			"sidemenu aesop1 aesop2 aesop3 aesop4"
			"footer footer footer footer footer";
	}

	aside {
		display: grid;
		min-height: 100px;
		width: 100%;
		height: 400px;
		padding: 0;
		margin-top: 12px;
		background-color: #FBF8FE;
	}

	aside h2 {
		padding: 0 10px 0 10px;
		color: #000;
		text-align: left;
	}

	.brand {
		border: 1px solid #B9B7BA;
	}
}

/*DESKTOP*/
@media screen and (min-width: 960px) {
	.product_container {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 7% 4% auto auto auto auto 10%;
		grid-template-areas:
		"header header header header header"
		"searchbar searchbar searchbar searchbar searchbar"
		"sidemenu byredo1 byredo2 byredo3 byredo4"
		"sidemenu labruket1 labruket2 labruket3 labruket4"
		"sidemenu aesop1 aesop2 aesop3 aesop4"
		"footer footer footer footer footer";
	}

	aside {
		display: grid;
		min-height: 100px;
		width: 100%;
		height: 400px;
		padding: 0;
		margin-top: 12px;
		background-color: #FBF8FE;
	}

	aside h2 {
		padding: 0 10px 0 10px;
		color: #000;
		text-align: left;
	}

	.brand {
		border: 1px solid #B9B7BA;
	}
}




